{% extends 'user/base.html' %}
{% block title %}Login{% endblock title %}
{% block msg %}
{% if error %}
<div class="alert alert-warning text-center"style="font-weight:bold">{{error}}</div>
{% endif %}
{% endblock msg %}
{% block content %}
<div class="container">
    <div class="row my-5">
         <div class="col-sm-2">
         <h1 class="text-center">😍{{form}}</h1>
        </div>
        <div class="col-sm-5 offset-1 border">
            <h2 class="alert alert-primary">LogIn Account</h2>
            <form action="" method="POST">
                {% csrf_token %}

            <div class="form-group form-control-sm">
                    <label for="" style="font-size:15px;font-weight:bold;">Email:</label>
                    <input type="email" name="email" id="email" class="form-control" value="{{value.email}}" placeholder="email">
            </div>
            <div class="form-group form-control-sm">
                    <label for="" style="font-size:15px;font-weight:bold;">Password:</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password">
            </div>
             <div class="form-group form-control-sm">
                   <input type="submit" value="Login" class="btn btn-primary">
                    <a href="{% url 'signup' %}" class="btn btn-secondary">Signup</a>
            </div>
            </form>
        </div>
        <div class="col-sm-2 offset-1">
          <h1 class="text-center">😍</h1>
        </div>
    </div>
</div>

{% endblock %}
